body {
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* -----------Header------------  */
.header-style {
  background: #ffffff;
  border: solid 1px;
  border-color: #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-btn {
  display: flex;
}
.connection-btn {
  display: flex;
}

.list-style {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
  margin-right: 93px;
}
.logo-web {
  color: #2196f3;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-btn > .list-style:not(:last-child) {
  margin-right: 50px;
}
.connection-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  gap: 50px;
}
.navigation-link:hover,
.connection-link:hover {
  color: #2196f3;
}
/* -----------Header------------  */
.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.header-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-hero {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 30px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}
.conveience-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.conveience-h2 {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.convenience-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.convenience-list > .list-style {
  display: inline-block;
  width: 270px;
}

.convenience-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.convenience {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.training-section {
  padding-bottom: 94px;
}
.training {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.training-list {
  display: flex;
  justify-content: space-between;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-cards {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 270px;
  padding-bottom: 30px;
}
.team-cards > img {
  margin-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* -----------Main------------  */
/* -----------Footer------------  */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-style {
  background: #2f303a;
}
.logo-footer {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
}

.webstudio-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
}
.footer-link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address a:hover {
  color: #2196f3;
}
.footer-list > .list-style:not(:last-child) {
  margin-bottom: 9px;
}
